<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>fr.insa.dasi2.Controllers.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UsersController</servlet-name>
        <servlet-class>fr.insa.dasi2.Controllers.UsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersController</servlet-name>
        <url-pattern>/users/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ActivitesController</servlet-name>
        <servlet-class>fr.insa.dasi2.Controllers.ActivitesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActivitesController</servlet-name>
        <url-pattern>/activites/*</url-pattern>
    </servlet-mapping>
    
    <!-- Pages d'erreur -->
    <error-page>
        <error-code>404</error-code>
        <location>/vues/errors/404.jsp</location>
    </error-page>
    
    <!-- Configuration -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
